# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ProjectJava\Bookmaker-Forks-Scanner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
